<section class="section hero">
  <div class="hero-inner">
    <img src="{{settings.logo}}" class="deep-logo" />
    <div class="left-container">
      <h1 class="heading">
        Welcome to
        <span class="focus">
          DEEP
        </span>
      </h1>
      <h3 class="sub-heading">
        Hi, how can we help you?
      </h3>
      {{search submit=false instant=true class='search search-full'}}
    </div>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <h1 class="block-heading">
        Browse
      </h1>
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
  </section>

  <div class="bottom-container">
    {{#if promoted_articles}}
      <section class="articles-home">
        <h1>{{t 'promoted_articles'}}</h1>
        <ul class="article-list promoted-articles-home">
          {{#each promoted_articles}}
            <li class="promoted-articles-item-home">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
    <section class="section activity">
      {{recent_activity}}
    </section>
  </div>
  {{#if help_center.community_enabled}}
    <section class="section community">
      <h1>{{t 'community'}}</h1>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}
      <div class="community-image" />
    </section>
  {{/if}}
</div>
